* {
    box-sizing: border-box;
    outline: none;
    position: relative;
}
html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Montserrat;
    font-weight: 400;

    margin: 0;
    overflow-x: hidden;

    background: #202020;
    color: #fff;

    --darkblue: #28282B;
    --green: #7DFF7A;
    --red: #FF6847;
    --grey: #BBBBBB;
    --darkgery: #555555;
    --gradientpurple: linear-gradient(197.3deg, #E42067 3.5%, rgba(255, 255, 255, 0) 88.13%, rgba(250, 102, 137, 0) 88.13%), linear-gradient(273.2deg, #286FDA 23.81%, #7F2FBD 86.28%);;
    --gradientred: linear-gradient(180deg, #E9B93D 0%, rgba(221, 133, 52, 0) 100%), linear-gradient(273.07deg, #DA6828 23.65%, #E32525 86.25%);;

    --textbig: 22px;
    --textmiddle: 18px;
    --textsmall: 14px;

    --max: 40px;
    --middle: 20px;
    --min: 10px;

    --shadow: 0 5px 20px rgba(0,0,0, .2);

    --containerwidth: 980px;
}

li {
    list-style: none;
}
a {
    color: var(--darkgery);
}
a.text {
    color: #fff;
}
a.none_dec {
    text-decoration: none;
}
.divider {
    width: calc(100% + 40px);
    height: 1px;

    left: -20px;
    margin: var(--min) 0;

    background: #202020;
}

/* Content */
.content {
    display: flex;
}
.block {
    display: flex;
    flex-direction: column;
}
.block.center {
    height: 100%;
    align-items: center;
}
.block.jus {
    height: 100%;
    justify-content: space-between;
}
.center {
    align-items: center;
}
.content .centered {
    margin: auto;
    display: flex;
}
.content .centered.margin {
    margin: 40px auto;
    display: flex;
}
.content.jus {
    width: 100%;
    justify-content: space-between;
}
.content.wrap {
    flex-wrap: wrap;
}

.margin {
    margin: var(--middle);
}
.margin.ver {
    margin: var(--middle) 0;
}
.margin.ver.min {
    margin: var(--min) 0;
}
.margin.hor {
    margin: 0 var(--middle);
}
.margin.hor.min {
    margin: 0 var(--min);
}
.margin.bottom {
    margin: 0 0 20px 0;
}
.margin.bottom.top-m {
    margin: -20px 0 20px 0;
}
.margin.top-m {
    margin: -40px 0 0 0;
}

.padding {
    padding: var(--middle);
}
.padding.min {
    padding: var(--min);
}
.padding.max {
    padding: var(--max);
}
.padding.ver {
    padding: var(--middle) 0;
}
.padding.ver.min {
    padding: var(--min) 0;
}
.padding.hor {
    padding: 0 var(--middle);
}
.padding.hor.max {
    padding: 0 var(--max);
}

.col {
    height: 100%;
}
.col .s5 {
    width: 50%;
    height: 100%;
}

.lighting {
    overflow: hidden;
}
.lighting::after {
    content: "";

    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    background: rgba(255,255,255, .1);
    opacity: 0;

    transition: .2s;
}
.lighting:hover::after {
    opacity: 1;
    cursor: pointer;
}

/* Container */
.container {
    max-width: var(--containerwidth);
    width: 100vw;
    margin: 200px auto;
}
.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}
.section_n1 {
    height: calc(100vh - 240px);
}
.punct {
    width: 500px;
}

/* Text */
.main_title {
    width: 370px;
    font-size: 40px;
    font-family: 'Fredoka One';
}
.main_title_text {
    width: 420px;
}
.text {
    font-size: var(--textmiddle);
}
.text.small {
    font-size: var(--textsmall);
}
.text.big {
    font-size: var(--textbig);
}
.text.grey,
.grey {
    color: var(--grey);
}
.text.min {
    width: 150px;
}
.text.mid {
    width: 240px;
}
.text.max {
    width: 400px;
}
.text_center {
    text-align: center;
}

/* Fade */
.fade {
    opacity: 0;
    transition: .4s;
}
.fade.delay-1 {
    transition-delay: .2s;
}
.fade.delay-2 {
    transition-delay: .4s;
}
.fade.right {
    transform: translateX(-30px);
}
.fade.left {
    transform: translateX(30px);
}
.fade.top {
    transform: translateY(30px);
}
.fade.bottom {
    transform: translateY(-30px);
}

/* Buttons */
.button {
    /* height: 50px; */
    padding: 10px 20px;

    font-size: var(--textmiddle);
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid var(--green);
    color: var(--green);

    transition: .2s;
}
.button.red {
    border: 1px solid var(--red);
    color: var(--red);
}
.button.red:hover {
    background: var(--red);
}
.button:hover {
    background: var(--green);
    color: #202020;
    cursor: pointer;
}
.button.small {
    padding: 5px 10px;
}
/* Input */
.input_parent .placeholder {
    padding: 5px;
    font-size: 16px;

    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -5;

    color: var(--darkgery);
    background: var(--darkblue);
    border-radius: 20px;

    transition: .2s;
}
.input {
    padding: 10px;
    width: 200px;

    background: none;
    border-radius: 50px;
    color: var(--darkgery);
    border: 1px solid var(--darkgery);
    font-family: Montserrat;

    transition: .2s;
}
.input:focus {
    border: 1px solid var(--grey);
}
.input.anim:focus {
    width: 500px;
}

/* Header */
.header {
    width: 100%;
    height: 80px;

    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    z-index: 999;

    background: var(--darkblue);
    border-bottom: 1px solid #202020;
}
.nav {
    width: 100%;

    position: sticky;
    left: 0;
    top: 80px;
    z-index: 998;

    transition: .2s;
}
.nav .bg {
    width: 100vw;
    height: 100%;
    
    position: absolute;
    left: -calc(100vw - var(--containerwidth));
    top: 0;

    background: var(--darkblue);
    border-bottom: 1px solid #202020;
}
.nav .nav_list_item a {
    text-decoration: none;
    color: var(--darkgery);

    transition: .1s;
}
.nav .nav_list_item.active a {
    text-decoration: none;
    color: #fff;

    transition: .1s;
}
.nav .nav_list_item ~ .stroke {
    width: 50px;
    height: 1px;

    position: absolute;
    left: 0;
    bottom: -1px;

    background: #fff;

    transition: .3s;
}
.nav .nav_list_item:hover a {
    color: #fff;
}

/* DECORE */
.path {
    position: absolute;
}
#d {
    z-index: 55;
}
#responce_card {
    left: 130px;
    top: -85px;
}
#cards_stroke {
    left: -30px;
    top: 0px;
}
#text_path {
    top: -45px;
    left: -50px;
}
#circlePurple1 {
    left: -40px;
    top: 90px;
}
#circleRed1 {
    left: 100%;
    top: -20px;
}
#circlePurple2 {
    left: -70px;
    top: -20px;
}
#circleRed2 {
    left: 280px;
    top: -20px;
}
#vopros {
    transform-origin: center bottom;
    width: 47px;
    height: 74px;
    left: -30px;
    top: -30px;
}
#choosePath {
    left: -10px;
    top: -10px;
}
#cards {
    left: -100px;
}
#cards .card .text {
    width: 260px;
}

/* Cards */
.card {
    height: max-content;

    background: var(--darkblue);
    border: 1px solid #202020;
    border-radius: 30px;
}
.card_header {
    display: flex;
    border-bottom: 1px solid #202020;
}
.card_header_up {
    min-width: 150px;
    padding: 20px;
    font-size: var(--middle);

    top: -30px;
    text-align: center;

    background: var(--darkblue);
    box-shadow: var(--shadow);
    border-radius: 50px;
}
.card_header.padding {
    padding: 20px 20px 10px 20px;
}
.card_content {
    display: flex;
    flex-direction: column;
}
.card_footer {
    display: flex;
    border-top: 1px solid #202020;
}
.card_footer.padding {
    padding: 10px 20px 20px 20px;
}

.card .text {
    font-size: 16px;
    font-weight: 200;
}
.card .bottom_panel {
    font-size: var(--textmiddle);
    color: var(--darkgery);
}
.card .bottom_panel .like {
    transition: .2s;
}
.card .bottom_panel .like.active {
    color: var(--red);
}

.choose {
    height: 280px;
}
.language_list_box {
    width: 100%;
    height: 280px;
    
    overflow-y: hidden;
    overflow-x: scroll;
}
.language_list {
    width: max-content;
    margin: 0;
}
.language_list_box::-webkit-scrollbar {
    height: 8px;
} 
.language_list_box::-webkit-scrollbar-track {
    background: none;
} 
.language_list_box::-webkit-scrollbar-thumb {
    background: #202020;
    border-radius: 8px;
    border: 2px solid var(--darkblue) outset;
} 
.language_img {
    height: 80px;
}
.lan_list_item.block.center {
    height: 280px;
}
.lan_list_item {
    width: 200px;

    border-right: 1px solid #202020;
}
/* Card > User  */
.user .user_ico {
    width: 60px;
    height: 60px;

    overflow: hidden;

    border-radius: 50px;
}
.user .user_ico.none {
    background: #404040;
}
.user .user_ico img {
    width: 105%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.user .name {
    color: var(--grey);
}

.card.tabel {
    padding: 0;
    border-radius: 50px;
    z-index: 30;
}

.discription_box {
    transform: scaleY(0);
    transition-delay: .2s;
    z-index: 200;
}
.discription {
    width: 100%;
    
    position: absolute;
    transform: translateY(-75px);
    z-index: 50;
    
    opacity: 0;

    transition: .2s;
}
.author:hover .discription_box {
    transform: scaleY(1);
    transition-delay: 0s;
}
.author:hover .discription_box .discription {
    opacity: 1;
}

.footer {
    width: 100%;
    min-height: 400px;

    background: #151515;
}